# .gitignore

# Dependency directories
venv/

myenv/

# Discord token and API key
.env

# Logs
logs/

# OS files
.DS_Store
Thumbs.db

# Python files
__pycache__/
*.pyc
*.pyo
./app/__pycache__/
./app/chatgpt_ai/__pycache__/
./app/discord_bot/__pycache__/

other